<h1 mat-dialog-title>Update Todo</h1>
<mat-dialog-content mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput type="text" maxlength="minLength" formControlName="text" placeholder="Ex. Clean the kitchen." />

      <mat-error *ngIf="form.controls['text'].hasError('required')">You must enter a todo.</mat-error>
      <mat-error *ngIf="form.controls['text'].hasError('minlength')">Must enter at least ({{minlength}}) characters.</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="data.canEditCategory">
      <mat-label>Select a category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category.text}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="update()">Update Todo</button>
</mat-dialog-actions>
