<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div style="display: flex; place-content: stretch space-between;">
        <div>Todo List</div>

        <mat-form-field *ngIf="canFilter && todos.length">
          <input matInput placeholder="Filter todos" (keyup)="applyFilter($event)" />
          <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3 *ngIf="!todos.length" style="text-align: center">No todo items have been entered.</h3>

    <mat-list>
      <mat-list-item *ngFor="let todo of displayTodos">
        <div matListItemTitle *ngIf="todo.category">{{todo.category.text}}</div>
        <div matListItemLine>{{todo.text}}</div>
        <div matListItemMeta>
          <button mat-icon-button  (click)="delete(todo)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="openTodoDialog(todo)" *ngIf="canEdit">
            <mat-icon color="primary" >edit</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
